<!DOCTYPE html>
    <html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Test VueJS</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome Todo List !</h1>
            <div id="app">
               
                <div v-if="userLoggin">
                    <button type="button" v-on:click="logout()">Deconnexion</button>
                    <Todo></Todo>
                </div>
                <div v-else="userLoggin">
                    <User></User>
                </div>
                <div v-if="userRank == 10">
                    <Admin></Admin>
                </div>
            </div>
        </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
    <script src="axios.min.js"></script>
    </body>
</html>
